﻿@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

<div>
    <fieldset>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">

                    <button id="btnShowModal1" type="button"
                            class="btn btn-sm btn-success">
                        Take Survye
                    </button>

                    <!-- #region MODAL 1 -->

                    <div class="modal fade" tabindex="-1" id="Modal1"
                         data-keyboard="false" data-backdrop="static">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">
                                        ×
                                    </button>
                                    <h4 class="modal-title">Take Survye</h4>
                                </div>
                                <div class="modal-body">
                                    Are you Sure!
                                </div>
                                <div class="modal-footer">
                                    <button id="btnShowModal2" type="submit" class="btn btn-primary button button4">Take Survye</button>
                                    <button type="button" id="btnHideModal1" class="btn btn-primary button button4">
                                        No
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- #endregion -->
                    <!-- #region MODAL 2 -->
                    <div class="modal fade" tabindex="-1" id="Modal2"
                         data-keyboard="false" data-backdrop="static">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">
                                        ×
                                    </button>
                                    <h4 class="modal-title">Rate</h4>
                                </div>
                                <div class="modal-body">
                                    @await Component.InvokeAsync("RatingsPopupWidget")
                                </div>
                                <div class="modal-footer">
                                    <button id="btnShowModal3" type="submit" class="btn btn-primary button button4">Submit</button>
                                    <button type="button" id="btnHideModal2" class="btn btn-primary button button4">
                                        Close
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- #endregion -->
                    <!-- #region MODAL 3 -->
                    <div class="modal fade" tabindex="-1" id="Modal3"
                         data-keyboard="false" data-backdrop="static">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">
                                        ×
                                    </button>
                                    <h4 class="modal-title">Satya Login</h4>
                                </div>
                                <div class="modal-body">
                                    Thank you for your Ratings
                                </div>
                                <div class="modal-footer">
                                    <button type="button" id="btnHideModal3" class="btn btn-primary button button4">
                                        Ok
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- #endregion -->

                    <!-- #region Error Modal -->
                    <div class="modal fade" tabindex="-1" id="ModalError"
                         data-keyboard="false" data-backdrop="static">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">
                                        ×
                                    </button>
                                    <h4 class="modal-title">Error</h4>
                                </div>
                                <div class="modal-body">
                                    Error. Try Again!
                                </div>
                                <div class="modal-footer">
                                    <button type="button" id="btnHideModalError" class="btn btn-primary button button4">
                                        Ok
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- #endregion -->

                </div>
            </div>
        </div>
    </fieldset>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#btnShowModal1").click(function () {
            $("#Modal1").modal('show');
        });

        $("#btnHideModal1").click(function () {
            $("#Modal1").modal('hide');
        });
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#btnShowModal2").click(function () {
            $("#Modal1").modal('hide');
            $("#Modal2").modal('show');
        });

        $("#btnHideModal2").click(function () {
            $("#Modal2").modal('hide');
        });
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        //$("#btnShowModal3").click(function () {
        //    $("#Modal2").modal('hide');
        //    $("#Modal3").modal('show');
        //});

        $("#btnHideModal3").click(function () {
            $("#Modal3").modal('hide');
        });
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#btnHideModalError").click(function () {
            $("#ModalError").modal('hide');
        });
    });
</script>

<script>
    $(document).ready(function () {
        $("#input-21b").on("rating.change", function (event, value, caption) {
            $("#SelectedRate").val(value);
        });
    });
</script>