﻿@model List<TestIdentity.Models.BusinessViewModels.SurveyProduct>

<div class="panel panel-danger widget">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-3">
                <i class="fa fa-tasks fa-3x"></i>
            </div>
            <div class="col-xs-9 text-right">
                <h3>Low Inventory Items</h3>
            </div>
        </div>
    </div>
    <div class="widget-display">
        <table class="table table-fluid table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Rate</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td><a href="#">@item.Id</a></td>
                    <td><a href="#">@item.Name</a></td>
                </tr>
        }
            </tbody>
        </table>
    </div>
    <div class="row col-md-12">
        <input id="input-21b" type="number" class="rating" min=0 max=5 step=0.5 data-glyphicon="false" data-star-captions="{}" data-default-caption="{rating} Stars" data-size="lg">
        <input type="text" id="SelectedRate" />
    </div>
</div>