﻿
@{
    ViewData["Title"] = "IndexAr";
    Layout = "~/Views/Shared/_LayoutAr.cshtml";
}

<h2>Admin Arabic Page</h2>

<h3>Only Admin Can View This Page</h3>


@if (User.Identity.IsAuthenticated)
{
    @if (User.IsInRole("Admin"))
    {
        <a asp-action="RegisterAr" asp-controller="Account" asp-route-returnurl="@ViewData["ReturnUrl"]">Register as a new user?</a>
    }
}

