﻿
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<h3>Only Admin Can View This Page</h3>


@if (User.Identity.IsAuthenticated)
{
    @if (User.IsInRole("Admin"))
    {
        <a asp-action="Register" asp-controller="Account" asp-route-returnurl="@ViewData["ReturnUrl"]">Register as a new user?</a>
    }
}

